
button {
	border-radius: 5px;
	background-color: #87CEFA;
	border-color: #008080;
	transition: 0.5s;
	
}

button:hover {
	background-color: #1E90FF;
	padding-right:  8px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 8px;
}

.main_container {

	background-color:  #E0FFFF;
	margin: 20px;
	padding: 20px;
	font-size: 24px;
}

.left_container {
	font-size: 28px;
	text-align: center;
	float: right;
	width: 250px;
	height: 320px;
	margin: 30px;
	background: radial-gradient( #FFFFFF, #ADD8E6) repeat;
	border-radius: 10px;
	padding-top: 80px;
	padding-right: 30px;
	padding-left: 30px;
	margin-right: 10px;
	transition: 1s;
	opacity: 0.8;
}
.left_container:hover {
	margin:25px;
	margin-right: 5px;
	opacity: 1;
	color: #FF8C00;
}

.timer_display {
	font-size: 70px;
	align-content: center;
	transition: 1s;
}

#hour, #minutes, #seconds {
	transition: 1s;
}

#hour:hover, #minutes:hover, #seconds:hover {
	font-size: 80px;
	color: #FF8C00;
	
}

#setTimer {
	margin-left: 10px;
}

#txt {
	font-size: 60px;
	
}

.minutes {
	margin-right: 5px;
}

table, td, th {
	text-align: center;
	margin-left: 15px;
}
input {
	width: 95px;
	margin:0px,20px, 0px, 20px;
	text-align: right;
}


.triangleUp {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
  
	border-bottom: 20px solid #87bdd8;
	font-size: 12px;
	margin-left:30px;
	
}
.triangleUp:hover {
	border-bottom-color: #36486b;
	margin-bottom:2px;
}

.triangleDown {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	margin-left:30px;
	border-top: 20px solid #b5e7a0;
	font-size: 12px;
	
}
.triangleDown:hover {
	border-top-color:#86af49;
	margin-top:2px;
}

h5 {
	text-align: right;
	padding-right: 30px;
}

#startButton {
	background-color: #c94c4c;
}
#startButton:hover {
	background-color: #FF4c4c;
}

.notice_txt:hover {
	font-style: Comic Sans MS, Comic Sans, cursive;
	color: #0000F0;
}
